[packages]
requests = "*"
pyopenmensa = "*"
flask = "*"

[dev-packages]
pytest = "*"
coveralls = "*"
pytest-cov = "*"
httpretty = "*"
pycodestyle = "*"
pydocstyle = "==3.0.0" # Py2 support, see https://pypi.org/project/pydocstyle/3.0.0/
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
