[packages]
requests = "*"
pyopenmensa = "*"
flask = "*"
cachetools = "*"
uwsgi = "*"

[dev-packages]
pytest = "*"
coveralls = "*"
pytest-cov = "*"
httpretty = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.13"
